<a href="https://colab.research.google.com/github/EuNetu/primeira_unidade_FTCD/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **10 Homens mais ricos do mundo**

Esse Código vai mostrar, segundo a wikipédia. Quais os homens mais ricos atualmente.

Coleta feita pelo BeautifulSoup, inspecionando a página, guardando em um dicionário. Armazenando em arquivo csv.

In [ ]:
import pandas as pd
import numpy as np

import requests as rq
from bs4 import BeautifulSoup
import re

dados_guardados = []
dados1 = {}
dados2 = {}
dados3 = {}
dados4 = {}
dados5 = {}
dados6 = {}
dados7 = {}
dados8 = {}
dados9 = {}
dados10 = {}

try:
    url = 'https://pt.m.wikipedia.org/wiki/Listas_de_bilion%C3%A1rios'
    response = rq.get(url)
    pagina_html = BeautifulSoup(response.text,'html.parser') 


    div_menor = pagina_html.find('table', {'class': 'wikitable sortable'})
    mil = div_menor.findAll('td')
    
    #1
    dados1['nome'] = mil[1].get_text()
    dados1['Fortuna(em Bilhões)'] = mil[2].get_text()
    dados1['idade'] = mil[3].get_text()
    dados1['cidadania'] = mil[4].get_text()
    dados1['origem da fortuna'] = mil[5].get_text()

    dados_guardados.append(dados1)
    
    
    #2
    dados2['nome'] = mil[7].get_text()
    dados2['Fortuna(em Bilhões)'] = mil[8].get_text()
    dados2['idade'] = mil[9].get_text()
    dados2['cidadania'] = mil[10].get_text()
    dados2['origem da fortuna'] = mil[11].get_text()

    dados_guardados.append(dados2)


    #3
    dados3['nome'] = mil[13].get_text()
    dados3['Fortuna(em Bilhões)'] = mil[14].get_text()
    dados3['idade'] = mil[15].get_text()
    dados3['cidadania'] = mil[16].get_text()
    dados3['origem da fortuna'] = mil[17].get_text()

    dados_guardados.append(dados3)

    #4
    dados4['nome'] = mil[19].get_text()
    dados4['Fortuna(em Bilhões)'] = mil[20].get_text()
    dados4['idade'] = mil[21].get_text()
    dados4['cidadania'] = mil[22].get_text()
    dados4['origem da fortuna'] = mil[23].get_text()

    dados_guardados.append(dados4)

    #5
    dados5['nome'] = mil[25].get_text()
    dados5['Fortuna(em Bilhões)'] = mil[26].get_text()
    dados5['idade'] = mil[27].get_text()
    dados5['cidadania'] = mil[28].get_text()
    dados5['origem da fortuna'] = mil[29].get_text()

    dados_guardados.append(dados5)

    #6
    dados6['nome'] = mil[31].get_text()
    dados6['Fortuna(em Bilhões)'] = mil[32].get_text()
    dados6['idade'] = mil[33].get_text()
    dados6['cidadania'] = mil[34].get_text()
    dados6['origem da fortuna'] = mil[35].get_text()

    dados_guardados.append(dados6)

    #7
    dados7['nome'] = mil[37].get_text()
    dados7['Fortuna(em Bilhões)'] = mil[38].get_text()
    dados7['idade'] = mil[39].get_text()
    dados7['cidadania'] = mil[40].get_text()
    dados7['origem da fortuna'] = mil[41].get_text()

    dados_guardados.append(dados7)

    #8
    dados8['nome'] = mil[43].get_text()
    dados8['Fortuna(em Bilhões)'] = mil[44].get_text()
    dados8['idade'] = mil[45].get_text()
    dados8['cidadania'] = mil[46].get_text()
    dados8['origem da fortuna'] = mil[47].get_text()

    dados_guardados.append(dados8)

    #9
    dados9['nome'] = mil[49].get_text()
    dados9['Fortuna(em Bilhões)'] = mil[50].get_text()
    dados9['idade'] = mil[51].get_text()
    dados9['cidadania'] = mil[52].get_text()
    dados9['origem da fortuna'] = mil[53].get_text()

    dados_guardados.append(dados9)

    #10
    dados10['nome'] = mil[55].get_text()
    dados10['Fortuna(em Bilhões)'] = mil[56].get_text()
    dados10['idade'] = mil[57].get_text()
    dados10['cidadania'] = mil[58].get_text()
    dados10['origem da fortuna'] = mil[59].get_text()

    dados_guardados.append(dados10)



    #print(dados)


except Exception as e:
    print(e)

df_ricos = pd.DataFrame(dados_guardados)
df_ricos.to_csv('ricos.csv')

df_ricos

                        nome  ...                origem da fortuna
0                 Jeff Bezos  ...                     Amazon.com\n
1                  Elon Musk  ...                  Tesla, SpaceX\n
2  Bernard Arnault & família  ...                           LVMH\n
3                 Bill Gates  ...  Cascade Investment: Microsoft\n
4            Mark Zuckerberg  ...                       Facebook\n
5             Warren Buffett  ...             Berkshire Hathaway\n
6              Larry Ellison  ...             Oracle Corporation\n
7                 Larry Page  ...          Google, Alphabet Inc.\n
8                Sergey Brin  ...          Google, Alphabet Inc.\n
9              Mukesh Ambani  ...            Reliance Industries\n

[10 rows x 5 columns]